body
{
 background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBKdMQ1Fb4Cr0WeBysPRpEDPPMU-3kl06EtNSAqeylbQ&usqp=CAU&ec=48665701)
 background-repeat:no repeat;
 background-size:cover
}